@font-face {
  font-family: "Blair";
  src: local('Blair'), url('./assets/fonts/blair-itc-medium.ttf') format('truetype');
}
@font-face {
  font-family: "Signature";
  src: local('Signature'), url('./assets/fonts/Signature.woff2') format('woff2');
}

html { font-size: 62.5%;
}

body {
  background: #ebebeb;
  margin: 0;
}
header {
  position: sticky;
  top: 0px;
  background-color: #5a6573;
  box-shadow: 0px 1px 10px #1d1d1d;
  z-index: 100;
}
header .container {
  display: flex;
  flex-direction: row;
  max-width: 1400px;
  margin: 0 auto;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  z-index: 100;
}
.logo {
  margin-left: 10rem;
  font-size: 2rem;
  font-family: signature;
  color: #ffffff;
  text-decoration: none;
}
.center {
  display: none;
}
.is-active {
  font-family: Blair;
  font-weight: bolder;
  text-decoration: underline solid 1px;
  text-underline-offset: 0.5rem;
  color: black;
}
.not-active {
  font-family: Blair;
  text-decoration: none;
  color: rgb(255, 255, 255);
}
ul {
  display: flex;
  flex-direction: row;
  text-decoration: none;
  list-style-type: none;
}
ul li {
  padding: 0px 30px 0px 30px;
}
ul li:nth-child(2){
  display: none;
}
.landing-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('./assets/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
  font-family: Blair;
  color: #ffffff;
  padding-left: 15vw;
}
.macbook {
  margin-left: 40vw;
  margin-top: 8vh;
  position: absolute;
  max-width: 70%;
  max-height: 70%;
}
.main-landing {
  margin-top: 20vh;
  font-size: 4rem;
  margin-bottom: 5vh;
  padding-right: 10vw;
}
.hi-landing {
  font-size: 1.4rem;
  line-height: 1.8rem;
  margin-top: 5vh;
  padding-right: 10vw;

}
.lets-go {
  margin-top: 15vh;
  border-radius: 10px;
  background: none;
  border-style: solid;
  padding: 15px;
  cursor: pointer;
  width: 145px;
  color: #ffffff;
  box-shadow: 0px 0px 10px#ffffff;
  font-family: Blair;
  font-size: 0.9rem;
}
.about-container {
  display: flex;
  background: linear-gradient(100deg, #ffffff 50%, #ececec 50.5%);
  height: 100%;
}
.about-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 46.5vw;
  padding: 20px 0px;
}
.andykirby {
  align-self: center;
  margin-top: 25px;
  height: 16.5rem;
  width: 15.4rem;
  border-radius: 10px;
  box-shadow:  5px 5px 10px #656565,
              -5px -5px 10px #d3d3d3;
}
.about-text {
  font-family: Blair;
  font-size: 1.2rem;
  max-width: 40ch;
  line-height: 2rem;
  margin: 0px;
  color:#9e9e9e
}
.signature {
  margin-top: 20px;
  margin-bottom: 5px;
  margin-right: 75px;
  align-self:flex-end;
  font-family: Signature;
  font-size: 2rem;
  color: #212529;
}
.print-name {
  margin-right: 110px;
  margin-bottom: 30px;
  align-self:flex-end;
  font-family: Blair;
  font-size: 1rem;
  color: #000000;
}
.about-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  margin-left: 8vw;
  width: 47vw;
}
.tech-title {
  font-family: Blair;
  color: #000000;
  font-size: 1.2rem;
  margin-top: 45px;
}
.tech-sub {
  display: flex;
  align-self: center;
  font-family: Blair;
  color: #000000;
  font-size: 0.9rem;
  padding: 12px;
}
.skill-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 20px;
  justify-content: space-between;
}
.skill-svg {
  padding: 10px;
}
.skill-name {
  display: flex;
  justify-content: center;
  font-family: Blair;
  font-size: 1rem;
  border-radius: 8px;
  padding: 10px;
  width: 110px;
  color: #ffffff;
  background: #5a6573;
  box-shadow:  1px 1px 2px #676767,
               -1px -1px 2px #a7a7a7;
}
.tech-sub-cards {
  display: flex;
  flex-direction: row;
}
.language1 {
  display: flex;
  flex-direction: column;
}
.language2 {
  display: flex;
  flex-direction: column;
}
.project-container {
  height: 60vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Blair;
  color: #d0d0d0;
}
.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #d0d0d0;
  height: 60vh;
}
.contact-title {
  display: flex;
  margin-top: 50px;
  font-family: Blair;
  font-size: 2rem;
  color: #000000;
}
.contact-card {
  margin-top: 30px;
  border-style: solid;
  border-width: 0.5px;
  border-radius: 8px;
  border-color: black;
  background: white;
  padding: 30px;
  box-shadow:  5px 5px 10px #aaaaaa,
              -5px -5px 10px #d3d3d3;
  z-index: 10;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contact-fields {
  display: flex;
  flex-direction: column;
}
.input-error {
  display: flex;
  flex-direction: column;
}
p.error {
  margin: -4px 15px;
  padding: 0px;
}
.first-last {
display: flex;
flex-direction: row;
justify-content: center;
}
.first-last > * > * {
  min-width: 0;
  margin: 10px;
  width: 250px;
  padding: 10px;
  border-width: 1px;
  outline-color: rgb(0, 0, 0);
  border-radius: 8px;
}
.email-phone {
  display: flex;
  flex-direction: row;
  }
.email-phone > * > * {
  min-width: 0;
  width: 250px;
  margin: 10px;
  padding: 10px;
  border-width: 1px;
  outline-color: rgb(0, 0, 0);
  border-radius: 8px;
}
#message {
  display: flex;
  flex-direction: column;
  width: 542px;
  margin: 10px;
  padding: 10px;
  outline-color: rgb(0, 0, 0);
  border-radius: 8px;
}
::placeholder {
  font-family: Blair;
  font-size: 1rem;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0
}
.submit {
  display: flex;
  justify-content: center;
  width: 570px;
  padding: 10px;
  margin: 20px 0px 10px;
  font-family: Blair;
  background-color: #393939;
  color: #ffffff;
  border-radius: 8px;
}
.submit:hover {
  box-shadow:  5px 5px 10px #aaaaaa,
              -5px -5px 10px #d3d3d3;
}
input.input-error, select.input-error, textarea.input-error, select.input-error {
  border-color: red;
  border-width: 1px;
}
.error {
  display: flex;
  font-family: Blair;
  color: red;
  font-size: 0.8rem;
}

.footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #5a6573;
  box-shadow: 0px 1px 20px #1d1d1d;
  height: 30vh;
  font-family: Blair;
  color: #ebebeb;
}
.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1px;
}
.icon-container > * {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  height: 45px;
  width: 55px;
  border-radius: 35px;
}
.contact-instagram:hover #instagram-btn {
  filter: invert(12%) sepia(95%) saturate(5972%) hue-rotate(269deg) brightness(98%) contrast(125%);
}
.contact-github:hover #github-btn {
  filter: invert(0%) sepia(0%) saturate(0%) hue-rotate(352deg) brightness(0%) contrast(104%);
}
.contact-mail:hover #mail-btn {
  filter: invert(75%) sepia(79%) saturate(569%) hue-rotate(360deg) brightness(107%) contrast(105%);
}
.not-found {
  display: flex;
  margin-top: 20%;
  justify-content: center;
  font-family: Blair;
}

/* ---------------------------------------------- MOBILE DEVICE ------------------------------------------------- */

@media screen and (max-width: 480px) {
body html {
  scroll-behavior: smooth;
  padding:0px;
  margin: 0px;
}
ul {
  display: none;
}
.macbook {
  display: none;
}
.logo {
  display: flex;
  justify-self: center;
  font-size: 2rem;
}
.center {
  display: block;
  width: 30px;
}

.center:before,
.center:after,
.center div {
  background: rgb(66, 66, 66);
  content: "";
  display: block;
  height: 2px;
  border-radius: 6px;
  margin: 5px 0;
  transition: 0.5s;
}
.open:before {
  transform: translateY(7px) rotate(135deg);
}
.open:after {
  transform: translateY(-7px) rotate(-135deg);
}
.open div {
  transform: scale(0);
}
.modal-container {
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 20;
}
.modal-blur {
  position: fixed;
  display: flex;
  /* height: 100vh; */
  /* width: 100vw; */
  /* background: #ffffff; */
  justify-content: center;
  background-color: rgba(123, 123, 123, 0.5);
}
.modal-background {
  position: fixed;
  display: flex;
  top: 50px;
  height: 92vh;
  width: 95vw;
  background: #f9f9f9;
  align-items: center;
  justify-content: center;
  border: #474747;
  border-style: solid;
  border-radius: 9px;

}
.modal-links {
  display: flex;
  flex-direction: column;
  font-family: Blair;
  color: rgb(85, 85, 85);
  font-size: 1.5rem;
  padding: 0px;
  /* justify-content: space-between; */
  text-decoration: none;
  z-index: 100;
}
.modal-link {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: inherit;
}
ul li:nth-child(2){
  display: block;
}
.landing-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-image: url('./assets/images/background.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  box-sizing: border-box;
  font-family: Blair;
  color: #ffffff;
  padding-left: 6vw;
}
.main-landing {
  margin-top: 20vh;
  font-size: 1rem;
  margin-bottom: 5vh;
  padding-right: 10vw;
}
.hi-landing {
  font-size: 1rem;
  margin-top: 5vh;
  padding-right: 10vw;
  line-height: 180%;
}
.lets-go-link {
  margin-left: 3vw;
}
.about-container {
  display: flex;
  flex-direction: column;
}
.about-left {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90vw;
}
.about-text {
  text-align: center;
  font-family: Blair;
  font-size: 1.2rem;
  max-width: 30ch;
  padding: 0px;
}
.signature {
  margin-top: 0px;
  font-family: Signature;
  text-align: center;
  font-size: 1.6rem;
}
.print-name {
  margin-right: 100px;
  align-self:flex-end;
  font-family: Blair;
  font-size: 0.8rem;
  padding-bottom: 70px;
}

.about-right {
  scroll-margin-top: 60px;
  margin-left: 0vw;
  height: 100vh;
  width: 50vw;
  background-color: #ececec;
  overflow: hidden;
}
.tech-title {
  font-family: Blair;
  font-size: 1.5rem;
  margin-top: 30px;
}
.tech-sub {
  align-self: center;
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
.tech-sub-cards {
  display: flex;
}
.skill-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px;
}
.skill-svg {
  padding: 0px;
}
.skill-name {
  width: 95px;
  padding: 6px;
  margin: 12px;
}
.project-container {
  height: 67vh;
}
.contact-container {
  height: 75vh !important;
  
}
.contact-title{
  font-size: 1.4rem !important;
  margin-top: 70px !important;

}
.contact-card {
  display: flex;
  justify-content: center;
  width: 75vw;
  margin-bottom: 10px;
  margin-top: 28px;
}
form {
  display: flex;
  flex-direction: column;
}
.contact-fields  {
  display: flex;
  flex-direction: column;
}
.first-last {
  flex-direction: column;
}
.email-phone {
  flex-direction: column;
}

#message {
  width: 250px;
  border-radius: 8px;
}
.submit {
  width: 270px;
}
.footer-container {
  position: relative;
  height: 20vh;
  bottom: 0;
  width: 100%;
  font-size: 0.7rem;
}
}
/* ---------------------------------------------- SMALL TABLET ------------------------------------------------- */

@media  screen and (max-width: 768px) {
body {
  height: 100%;
  scroll-behavior: smooth;
}
ul {
  display: none;
}
.macbook {
  margin-left: 35vw;
  margin-top: 5vh;
  position: absolute;
  max-width: 50%;
  max-height: 50%;
}
.logo {
  margin-left: 10rem;
  font-size: 2rem;
}
.center {
  display: block;
  width: 30px;
}

.center:before,
.center:after,
.center div {
  background: rgb(66, 66, 66);
  content: "";
  display: block;
  height: 2px;
  border-radius: 6px;
  margin: 5px 0;
  transition: 0.5s;
}
.open:before {
  transform: translateY(7px) rotate(135deg);
}
.open:after {
  transform: translateY(-7px) rotate(-135deg);
}
.open div {
  transform: scale(0);
}

/* MODAL */

ul li:nth-child(2){
  display: block;
}
.main-landing {
  margin-top: 20vh;
  font-size: 3rem;
  margin-bottom: 5vh;
  padding-right: 10vw;
}
.hi-landing {
  font-size: 1rem;
  margin-top: 5vh;
  padding-right: 10vw;
  line-height: 180%;
}
.contact-card {
  margin-top: 28px;
}
.about-container {
  display: flex;
  flex-direction: column;
}
.about-left {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.about-text {
  text-align: center;
  font-family: Blair;
  font-size: 1.2rem;
  max-width: 30ch;
  padding: 0px;
}
.signature {
  margin-top: 0px;
  font-family: Signature;
  text-align: center;
  font-size: 1.6rem;
}
.print-name {
  margin-right: 100px;
  align-self:flex-end;
  font-family: Blair;
  font-size: 0.8rem;
  margin-bottom: 30px;
}
.about-right {
  scroll-margin-top: 60px;
  margin-left: 0vw;
  height: 90%;
  width: 100vw;
  /* padding-bottom: 30vh; */
  /* background-color: #bbbbbb; */
}
.tech-title {
  font-family: Blair;
  font-size: 1.5rem;
  margin-top: 30px;
}
.tech-sub {
  align-self: center;
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
.tech-sub-cards {
  display: flex;
}
.skill-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px;
}
.skill-svg {
  padding: 0px;
}
.skill-name {
  width: 95px;
  padding: 6px;
  margin: 12px;
}
.contact-title{
  font-size: 1.4rem;
  margin-top: 100px;
  margin-bottom: -10px;
}
.contact-container {
  height: 62vh;
}
.contact-card {

  margin-bottom: 0px;
}
form {
  display: flex;
  margin-top: -10px;
  flex-direction: column;
  width: 50vw;
}
.contact-fields  {
  display: flex;
  flex-direction: column;
}
.first-last {
  flex-direction: column;
}
.email-phone {
  flex-direction: column;
}

#message {
  width: 250px;
  border-radius: 8px;
}
.submit {
  width: 270px;
  padding: 15px;
  margin-bottom: -10px;
}
.footer-container {
  position: relative;
  min-height: 100%;
  height: auto !important;
  bottom: 0;
  width: 100%;
  font-size: 0.7rem;
}
}

@media  screen and (max-width: 1024px) {
body {
  /* overflow: hidden; */
  scroll-behavior: smooth;
}
ul {
  display: none;
}
.macbook {
  margin-left: 30vw;
  margin-top: 5vh;
  position: absolute;
  max-width: 50%;
  max-height: 50%;
}
.logo {
  margin-left: 8rem;
  font-size: 1.6rem;
}
.center {
  display: block;
  width: 30px;
}

.center:before,
.center:after,
.center div {
  background: rgb(66, 66, 66);
  content: "";
  display: block;
  height: 2px;
  border-radius: 6px;
  margin: 5px 0;
  transition: 0.5s;
}
.open:before {
  transform: translateY(7px) rotate(135deg);
}
.open:after {
  transform: translateY(-7px) rotate(-135deg);
}
.open div {
  transform: scale(0);
}

/* MODAL */

ul li:nth-child(2){
  display: block;
}
.main-landing {
  margin-top: 20vh;
  font-size: 3rem;
  margin-bottom: 5vh;
  padding-right: 10vw;
}
.hi-landing {
  font-size: 1rem;
  margin-top: 5vh;
  padding-right: 10vw;
  line-height: 180%;
}
.lets-go {
  margin-left: 10vw;
  width: 60vw;
}
.contact-card {
  margin-top: 28px;
}
.about-container {
  display: flex;
  flex-direction: column;
}
.about-left {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.about-text {
  text-align: center;
  font-family: Blair;
  font-size: 1.2rem;
  max-width: 30ch;
  padding: 0px;
}
.signature {
  margin-top: 0px;
  font-family: Signature;
  text-align: center;
  font-size: 1.6rem;
}
.print-name {
  margin-right: 100px;
  align-self:flex-end;
  font-family: Blair;
  font-size: 0.8rem;
  margin-bottom: 30px;
}
.about-right #skills {
  /* scroll-margin-top: 60px; */
  margin-left: 0vw;
  height: 90vh;
  width: 100vw;
  /* background-color: #bbbbbb; */
}
.tech-title {
  font-family: Blair;
  font-size: 1.5rem;
  margin-top: 30px;
}
.tech-sub {
  align-self: center;
  font-size: 1rem;
  text-decoration: underline;
  text-underline-offset: 0.2rem;
}
.tech-sub-cards {
  display: flex;
}
.skill-card {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0px 0px;
}
.skill-svg {
  padding: 0px;
}
.skill-name {
  width: 95px;
  padding: 6px;
  margin: 12px;
}
.contact-title{
  font-size: 1.4rem;
  margin-top: 100px;
  margin-bottom: -10px;
}
.contact-container {
  height: 62vh;
}
.contact-card {

  margin-bottom: 0px;
}
form {
  display: flex;
  margin-top: -10px;
  flex-direction: column;
  width: 50vw;
}
.contact-fields  {
  display: flex;
  flex-direction: column;
}
.first-last {
  flex-direction: column;
}
.email-phone {
  flex-direction: column;
}

#message {
  width: 250px;
  border-radius: 8px;
}
.submit {
  width: 270px;
  margin-bottom: -10px;
}
.footer-container {
  position: relative;
  bottom: 0;
  width: 100%;
  font-size: 0.7rem;
}
}